@page
@model RIIEdition.Pages.AdminPages.ListUsersModel
@{
    string src1="/AppPictures/no_image.gif";
}
@section Scripts
{
    <script src="~/js/listusers.js" async>

    </script>
}

<body>
  <partial name="_HeaderPartial" />
    <div class="container">
        <main role="main" >
          <h1>All users</h1>
@if(Model.Users.Any())
{
    <a asp-page="/UserPages/Register" class="btn btn-primary mb-3">Kliknite ovde da dodate korisnika</a>
    <form method="post">
    @foreach(var user in Model.Users)
    {
        
       
         <div class="card mb-3">
          <div class="card-header">
              Korisnicki Id:@user.Id
            
        </div>
        <div class="card-body">
           @if(user.PictureFilePath==null)
           {
               
        
         <img class="card-img-top mb-3" style="max-width:200px;max-height:300px; " src="@src1" alt="Nema sliku">
         
           }
           else
           {
               
               <img class="card-img-top mb-3" style="max-width:200px;height:auto; " 
               src="@user.PictureFilePath.Substring(user.PictureFilePath.IndexOf('/'))" 
               alt="Nema sliku">
           }
         
            <h5>Korisnicko ime:@user.UserName</h5>
            <div>Ime:@user.Name Prezime:@user.LastName</div>
            <div>Email adresa:@user.Email</div>
            <div>Broj Indeksa:@user.Index</div>
        </div>
        <div class="card-footer">
            <a class="btn btn-primary" asp-page="/UserPages/EditUserProfile" asp-route-id="@user.Id">Azuriraj</a>
             <a class="btn btn-danger" id="obrisi_@user.Id" onclick="obrisiUsera('_@user.Id')">
                 Obrisi</a>
             <div class="row" style="display: none;">
                 Da li ste sigurni da zelite da izbristete ovog korisnika
                 <button class="btn btn-danger col-md-2" type="submit" asp-route-id="@user.Id">Da </button>
                 <a class="btn btn-primary col-md-2" onclick="vratiUsera('_@user.Id')">Ne</a>
             </div>

        </div>
      
</div>

  

    }
    </form>

}
else
{
    <div class="card">
          <div class="card-header">
              <h3 class="card-title">No users added yet</h3>
            
        </div>
        <div class="card-body">
            <a class="btn btn-primary" asp-page="/UserPages/Register">Kliknite ovde da dodate korisnika</a>
        </div>
      

    </div>
}
        </main>
    </div>
<partial name="_ScriptsPartial" />

</body>
