@page
@model RIIEdition.Pages.UserPages.BlanketNapraviModel
@{
}
@section css
{
<link rel="stylesheet" href="~/css/blanketnapravi.css" />
}
@section Scripts
{
<script src="~/js/napraviblanket.js"></script>
}

<body>
    <partial name="_HeaderPartial" />

    <div class="container">
        <form method="post">
            <div class="white-mode col-lg-8 col col-md-10 col-sm-12 blanket">

                <input asp-for="PitanjaMaterijala" id="skuppitanja" />
                <input asp-for="OdgovoriMaterijala" id="skupodgovora" />

                <div class="form-group">
                    <label asp-for="NazivMaterijala"></label>
                    <input asp-for="NazivMaterijala" id="nmaterijala" class="form-control " />
                    <span class="text-danger mt-2 mb-2" id="nazivMaterijala"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PredmetMaterijala"></label>
                    <input asp-for="PredmetMaterijala" id="pmaterijala" class="form-control " />
                    <span class="text-danger mt-2 mb-2" id="predmetMaterijala"></span>
                </div>
                <div class="form-group" id="izaberiBrojPitanja">
                    <label>Unesiti broj pitanja koji zelite da dodate:</label>
                    <input class="form-control brojPitanja" type="number" />
                    <span class="text-danger mt-2 mb-2" id="greskaBrojPitanja"></span>
                </div>
                <div class="ZaPitanja">

                </div>
                <div class="dugmici">
                    <a class="btn btn-danger" onclick="obrisiPitanje()">Obrisi jedno pitanje</a>
                    <a class="btn btn-primary" onclick="dodajPitanje()">Dodaj jedno pitanje</a>
                </div>
                <div class="sumbitFormu">
                    <a class="btn btn-info mt-2" onclick="prikaziKocku()">Napravi mi blanket</a>

                </div>

                <div class="mojButton">
                    <a href="#" onclick="generisiPitanja()">
                        <span>DALJE</span>
                        <span></span>
                        <span></span>
                        <span>DALJE</span>

                    </a>
                </div>

                <!-- 3D Checkbox-->
                <div class="mojcheck">
                    <div class=" mili">Tamna pozadina</div>
                    <div class="center">
                        <input type="checkbox" name="" class="dark" onchange="promeni()" />
                        <span>On</span>
                        <span>Off</span>
                    </div>
                </div>
                <!-- 3D kocka-->
            </div>

            <h3 id="obavestenje" class="bg-primary rounded mt-5 p-3">Vas blanket je zapamcen.Kliknite na kocku da
                nastavite</h3>
            <div class="mojaKocka">
                <div class="cube">
                    <span></span>
                    <span></span>
                    <span></span>
                    <button type="submit" class="submitForma"></button>

                </div>

            </div>

        </form>

    </div>

    <partial name="_ScriptsPartial" />

</body>