@page
@model RIIEdition.Pages.UserPages.ChangePasswordModel
@{
}
<body>
  <partial name="_HeaderPartial" />
    <div class="container">
        <main role="main" >
          <h1>@Model.Naziv</h1>
        </main>
    </div>
<partial name="_ScriptsPartial" />

</body>