@page
@model RIIEdition.Pages.UserPages.ConfirmEmailModel
@{
}
<body>
  <partial name="_HeaderPartial" />
    <div class="container">
        <main role="main" >
           <h1 class="text-black-50">Molimo potvrdite email</h1>
        </main>
    </div>
<partial name="_ScriptsPartial" />

</body>
