@page
@model RIIEdition.Pages.UserPages.EditUserProfileModel
@{
}

<body>
  <partial name="_HeaderPartial" />
  <div class="container">
    <main role="main">

    </main>
  </div>
  <partial name="_ScriptsPartial" />

</body>