@page
@model RIIEdition.Pages.UserPages.FlashCardsModel
@{
}
@section css
{
<link rel="stylesheet" href="~/css/flashcards.css" />
}
@section Scripts
{
<script src="~/js/flashcards.js" type="module"></script>
}

<body>
    <div id="@Model.Predmet" class="prviElement" style="display: none;"></div>
    <div class="kontejnerce">
        <div class="card" id="card">
            <div id="front" class="front"></div>
            <div id="back" class="back"></div>
        </div>
        <div id="ocena" class="ocenjivanje">
            <button id="nauceno-btn">Naucio/la sam ovo pitanje. Ne zelim vise da se ponavlja.</button>
        </div>
        <div class="nextDiv" id="nextDiv">
            <button id="next-btn" class="next-btn">Next</button>
            <form method="post">
                <input asp-for="brojPoenaDbFK" id="broj-poena-fk-db" style="display: none;" />
                <input asp-for="datumZavrsetkaDbFK" id="datum-zavrsetka-fk-db" style="display: none;" />
                <input asp-for="predmetDbFK" id="predmet-fk-db" style="display: none;" />
                <button type="submit" class="next-btn dugme" style="display: none;" id="krajBtn">Kraj</button>
            </form>
        </div>
    </div>
</body>