@page
@model RIIEdition.Pages.UserPages.FlashCardsModel
@{
}
@section css
{
      <link rel="stylesheet" href="~/css/flashcards.css" />
}
@section Scripts
{
    <script src="~/js/flashcards.js" type="module"></script>
}
 <body>
      <div id="@Model.Predmet" class="prviElement" style="display: none;"></div>
        <div class = "kontejnerce">
            <div class = "card" id = "card" >
                <div id = "front" class = "front"></div>
                <div id = "back" class = "back"></div>
            </div>
            <div id = "ocena" class = "ocenjivanje">
                <button id = "nauceno-btn" >Naucio/la sam ovo pitanje. Ne zelim vise da se ponavlja.</button>
            </div>
            <div class = "nextDiv" id = "nextDiv">
                <button id = "next-btn" class = "next-btn" >Next</button>
                <a style="display: none;" class = "next-btn"  id="krajBtn" asp-page="/UserPages/Kvizovi">Kraj</a>
            </div>
        </div>
    </body>

