@page
@model RIIEdition.Pages.UserPages.MaterijaliModel
@{
}
@section css
{
    <link rel="stylesheet" href="~/css/materijali.css" />
}
@section Scripts
{
    <script src="~/js/materijali.js" ></script>
}
<body >
     
    
       
        <div id="main" class="h-100">
          
  <partial name="_HeaderPartial" />
      
       
    
        
        <main role="main" class="h-100">
          <div class="parallax bg1">
           
                <div class="caption">
                    <span class="border">Sa nasim materijalima postajete jedan od najboljih studenata</span>
                </div>

           </div>
           <!-- <img src="~/AppPictures/AlgoritmiProgramiranje.jpeg" class="slika /">
              <img src="~/AppPictures/DistribuiraniSistemi.jpg"  />
                <img src="~/AppPictures/MIKS.jpg"  />
                <img src="~/AppPictures/softversko.jpg"  />
                <img src="~/AppPictures/WebProgramiranje.jpg"  />
                 -->
                 <div class="div1">
                   <h3 class="text-center">O materijalima</h3>
                   <p>
                       Nikada nije bilo lakse spremiti ispit nego sada.
                       Sa nasim materijalima ce vam svaki ispit ici kao od sale.
                       Mi smo se potrudili i sklopili smo sve materijale na jednom mestu tako da je vase samo da ucite.
                       Napravite sami svoje blankete,takmicite se sa vrsnjacima i jos mnogo toga drugog vas ceka u vasoj avanturi 
                       polaganja ispita.Svi materijali su pazljivo izabrani tako da imate pristup najboljim materijalima u svako vreme
                       na svakom mestu.Mi smo tu za vas bez obzira u bilo koje vreme da vam izadjemo u susret sa vasim pitanjima.
                   </p>
                 </div>
                 <div style="background-image: linear-gradient(#ffeee,#ddefbb);">
             <div class="centriraj">
            <div class="Kontejner">
                <div class="mySlides">
                    <div class="numbertext">1/5</div>
                    <img src="~/AppPictures/AlgoritmiProgramiranje.jpeg" class="slika"/>

                </div>
                <div class="mySlides">
                    <div class="numbertext">2/5</div>
                <img src="~/AppPictures/DistribuiraniSistemi.jpg"   class="slika"/>

                </div>
                <div class="mySlides">
                    <div class="numbertext">3/5</div>
                    <img src="~/AppPictures/MIKS.jpg"   class="slika"/>

                </div>
                <div class="mySlides">
                    <div class="numbertext">4/5</div>
                  <img src="~/AppPictures/softversko.jpg"   class="slika"/>

                </div>
                <div class="mySlides">
                    <div class="numbertext">5/5</div>
                    <img src="~/AppPictures/WebProgramiranje.jpg"  class="slika" />

                </div>
                <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
                <a class="next" onclick="plusSlides(1)">&#10095;</a>
                <div class="caption-container">
                <p id="caption"></p>
                    </div>
                    <div class="red">
                        <div class="kolona"> 
                            <img class="demo cursor" onclick="currentSlide(1)"
                            src="~/AppPictures/AlgoritmiProgramiranje.jpeg" alt="Algoritmi i programiranje"/>
                            </div>
                             <div class="kolona"> 
                            <img class="demo cursor" onclick="currentSlide(2)"
                            src="~/AppPictures/DistribuiraniSistemi.jpg" alt="Distribuirani sistemi"/>
                            </div>
                             <div class="kolona"> 
                            <img class="demo cursor" onclick="currentSlide(3)" alt="Mikroracunarski sistemi"
                            src="~/AppPictures/MIKS.jpg"/>
                            </div>
                             <div class="kolona"> 
                            <img class="demo cursor" onclick="currentSlide(4)" alt="Softversko inzinjerstvo"
                            src="~/AppPictures/softversko.jpg"/>
                            </div>
                             <div class="kolona"> 
                            <img class="demo cursor" onclick="currentSlide(5)" alt="Web programiranje"
                            src="~/AppPictures/WebProgramiranje.jpg"/>
                            </div>

                    </div>

            </div>
            </div>
            </div>
             <div class="div1 margina">
                   <h3 class="text-center">Zasto uciti?</h3>
                   <p>
                      Malo se sada potrudite pa cete posle uzivati u zivotu.Salim se,ne ide sve bas tako
                      Sad se mucis uci,ucis i ucis.Taman kad mislis da je sve gotovo dodje muz/zena,deca i novi problemi 
                      i opet ajde na jednu stranu cas na drugu stranu i tako sve u krug dok ti glava na ispadne.Posle kad dodje starost
                      ajde kod lekara,ajde ajde ovaj lek ajde onaj,bol u ledjima i tako dalje.Ali i posle svega toga ipak se isplati uciti>
                      Samo ti uci!
                   </p>
                 </div>
                 <!--Zemlja koja se okrece -->
                 <div class="earth-demo">
  <div class="earth">
      <div class="more-info">
          <h3>Zasto bas ja mora da ucim ovoliko na celoj planeti!?</h3>
          <ul>
              <li>Nacice te dobar posao u IT</li>
              <li>Stano cete raditi na sebi</li>
              <li>Ucinicete sebe uspesnijom osobom</li>
          </ul>

      </div>
    <img src="https://cssanimation.rocks/images/random/earth.png">
  </div>
  <div class="moon-container">
    <div class="moon">
      <img src="https://cssanimation.rocks/images/random/moon.png">
    </div>
  </div>
</div>
 <div class="parallax bg2 ">
    
            
              </div>
              <div class="zadnjiDiv">
                
                <div class="box"><div class="mali">
                Ono što smo naucili, nije mnogo, ali ono što nismo je neizmerno.
                </div>
                <div class="mali">
               U informatičkom društvu znanje nije čast i privilegija, već glavni resurs za rast i profit.
                </div>
                <div class="mali">
                Ne učimo za školu, nego za život.
                </div>
                

                  <div class="glass"></div>
                  <div class="glass"></div>
                </div>
                    <div>

                    </div>
              </div>
             <footer class="site-footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h6>O nama</h6>
            <p class="text-justify">
              Mi smo jedna ekipa studenata koja je bila u slicnim problemima kao vi,
              nismo znali odakle da ucimo materijali su bili losi i jos mnogo toga drugog nije odgovaralo.
              Zato smo odlucili da napravimo najbolji sajt za ucenje.
            </p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Kategorije</h6>
            <ul class="footer-links">
              <li ><a  asp-page="/Index">Pocetna</a></li>
                        <li ><a >Kvizovi</a></li>
                        <li ><a  asp-page="/UserPages/Calendar">Kalendar</a></li>
            </ul>
          </div>

          <div class="col-xs-6 col-md-3">
            <h6>Brzi linkov</h6>
            <ul class="footer-links">
              <li><a asp-page="/Index">Pocetna</a></li>
              <li><a href="http://scanfcode.com/contact/">Contact Us</a></li>
              <li><a asp-page="/UserPages/Materijali">O materijalima</a></li>
              <li><a asp-page="/UserPages/OMaterijalima">Prednosti materijala</a></li>
              <li><a asp-page="/UserPages/BlanketNapravi">Napravi blanket</a></li>
            </ul>
          </div>
        </div>
        <hr>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-sm-6 col-xs-12">
            <p class="copyright-text">Copyright &copy; 2020 Sva prava zadrzana RIIEdition
         <a asp-page="/Index">RIIEdition</a>.
            </p>
          </div>

          <div class="col-md-4 col-sm-6 col-xs-12">
            <ul class="social-icons">
              <li><a class="facebook" href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a class="twitter" href="#"><i class="fa fa-twitter"></i></a></li>
              
              <li><a class="linkedin" href="#"><i class="fa fa-linkedin"></i></a></li>   
            </ul>
          </div>
        </div>
      </div>
</footer>
               
                
                
          </main>
       

       
    </div>
        
   
<partial name="_ScriptsPartial" />

</body>