@page
@model RIIEdition.Pages.UserPages.OMaterijalimaModel
@{
}
@section css
{
<link rel="stylesheet" href="~/css/omaterijalima.css" />
}

<body>

    <div class="bg"></div>
    <div class="bg2"></div>
    <partial name="_HeaderPartial" />
    <div class="kontejner">

        <div id="left">
            <h1>Prednosti nasih materijala</h1>
            <p>Mi smo jedna ekipa studenata koja je bila u slicnim problemima kao vi,
                nismo znali odakle da ucimo materijali su bili losi i jos mnogo toga drugog nije odgovaralo.
                Zato smo odlucili da napravimo najbolji sajt za ucenje.
                Na nasem sajtu cete naci najbolje moguce materijali koji nigde ne postoje
                Zato cete uvek moci i da koristite samo najbolje sto vam se nudi.
                Bez greske cete poloziti svaki ispit</p>
        </div>
        <div id="right">
            <ul>
                <li>
                    <img src="~/AppPictures/learning1.jpg" />
                    <span>
                        <strong>Motivacija</strong>
                        <p>Motivacija vam je najpotrbnija kad ucite</p>
                    </span>

                </li>
                <li>
                    <img src="~/AppPictures/learning2.jpg" />
                    <span>
                        <strong>Kvalitet</strong>
                        <p>Kvalitet nasih materijala nam je na prvom mestu</p>
                    </span>

                </li>
                <li>
                    <img src="~/AppPictures/learning3.png" />
                    <span>
                        <strong>Interesovanje</strong>
                        <p>Mi svo za vas spremili zabavan nacin da sve naucite</p>
                    </span>

                </li>
            </ul>
        </div>

    </div>

    <partial name="_ScriptsPartial" />

</body>