@page
@model RIIEdition.Pages.UserPages.UserPasswordChangeModel
@{
}

<head>
    <link rel="stylesheet" href="~/css/UserPages/UserPasswordChange.css" />
</head>

<body>
    <partial name="_HeaderPartial" />
    <div class="container">
        <main role="main">
            <div id="change-password-row" class="row justify-content-center align-items-center">
                <div id="change-password-column" class="col-md-6 mt-5">
                    <div id="change-password-box" class="col-md-12">
                        <form id="change-password-form" class="form" action="" method="post">
                            <div asp-validation-summary="All" class="text-danger"></div>
                            <h3 class="text-center text-white mt-3">Promena šifre</h3>
                            <div class="form-group">
                                <label asp-for="CurrentPassword"></label>
                                <input asp-for="CurrentPassword" class="form-control" />
                                <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="NewPassword"></label>
                                <input asp-for="NewPassword" class="form-control" />
                                <span asp-validation-for="NewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <label asp-for="ConfirmNewPassword"></label>
                                <input asp-for="ConfirmNewPassword" class="form-control" />
                                <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </main>

    </div>

    <partial name="_ScriptsPartial" />

</body>