@page
@model RIIEdition.Pages.UserPages.ZapocniVodicModel
@{
}
@section css
{
<link rel="stylesheet" href="~/css/zapocnivodic.css" />
}
@section Scripts
{
<script src="~/js/zapocnivodic.js"></script>
}

<body>
    <div id="prvi">
        <span><video src="~/Videos/cover.mp4" autoplay="" muted="" loop=""></video></span>

        <section>
            <div class="box">

                <div>
                    <span><video src="~/Videos/cover.mp4" autoplay="" muted="" loop=""></video></span>
                    <span><video src="~/Videos/cover.mp4" autoplay="" muted="" loop=""></video></span>
                    <span><video src="~/Videos/cover.mp4" autoplay="" muted="" loop=""></video></span>
                </div>

            </div>
        </section>
    </div>
    <div class="centar" style="display: none;">

        <h1>

            <span>
                RII
            </span>
            <span>
                RII
            </span>
            <span>
                RII
            </span>
        </h1>

    </div>
    <h1 class="mali">RII</h1>

</body>