@page
@model RIIEdition.Pages.UserPages.ZapocniVodicModel
@{
}
@section css
{
      <link rel="stylesheet" href="~/css/zapocnivodic.css" />
}
<body>
  <span><video src="~/Videos/cover.mp4" autoplay="" muted="" loop=""></video></span>
  
   <section>
       <div class="box">
       
           <div>
           <span><video src="~/Videos/cover.mp4" autoplay="" muted="" loop=""></video></span>
           <span><video src="~/Videos/cover.mp4" autoplay="" muted="" loop=""></video></span>
           <span><video src="~/Videos/cover.mp4" autoplay="" muted="" loop=""></video></span>
        </div>

       </div>
   </section>


</body>