body {
  background: #fafafa;
  background: url("https://i.ibb.co/jHxQRgB/password-change.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

#change-password-column {
  background-color: #9c9c9c;
}
