 
  <header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-dark h-100" >
            <a class="navbar-brand ml-2 mr-4 " asp-page="/Index">RII</a>
             <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
                <div class="collapse navbar-collapse row " id="navbarSupportedContent">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link ml-3" asp-page="/Index">Pocetna</a></li>
                        <li class="nav-item"><a class="nav-link ml-3" asp-page="/UserPages/Kvizovi">Kvizovi</a></li>
                        <li class="nav-item"><a class="nav-link ml-3" asp-page="/UserPages/Calendar">Kalendar</a></li>
                         <li class="nav-item"><a class="nav-link ml-3" asp-page="/UserPages/Relaksacija">Relaksacija</a></li>
                        <li class="nav-item dropdown" >
                            <a class="nav-link ml-3" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Materijali</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" asp-page="/UserPages/Materijali">O materijalima</a>
          <a class="dropdown-item" asp-page="/UserPages/OMaterijalima">Prednosti nasih materijala</a>
          @if(signInManager.IsSignedIn(User))
          {
              <a class="dropdown-item" asp-page="/UserPages/BlanketNapravi">Napravi blanket</a>
          <a class="dropdown-item" asp-page="/UserPages/MojiBlanketi">Moji blanketi</a>
          }
          <a class="dropdown-item" asp-page="/UserPages/BazaBlanketa">Baza blanketa</a>
        </div>
                            </li>
                        @if(signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                        <li class="nav-item dropdown">
                            
                            <a class="nav-link dropdown-toggle ml-3" href="#" 
                            role="button" data-toggle="dropdown"   id="navbarDropdownMenuLink">
                                Admin
                            </a>
                             <div class="dropdown-menu" >
          <a class="dropdown-item" asp-page="/AdminPages/ListRoles">Izlistaj Uloge</a>
          <a class="dropdown-item" asp-page="/AdminPages/CreateRole">Napravi Ulogu</a>
          <a class="dropdown-item" asp-page="/AdminPages/ListUsers">Svi korisnici u aplikaciji</a>

          </div>
                        </li>
                        }
                        
                    </ul>
                    <ul class="navbar-nav ml-auto">
                        @if(signInManager.IsSignedIn(User))
                        {
                            <li class="nav-item">
                            <a class="nav-link btn btn-link text-white mr-3" asp-page="/userPages/ProfilPage">@User.Identity.Name</a>
                            </li>
                                <li class="nav-item">
                                     
                                    <form method="post">
                                        <button class="nav-link btn btn-link text-white mr-3" asp-page="/UserPages/Logout">
                                            Logout 
                                        </button>
                                    </form>
                                </li>
                        }
                        else 
                        {
                             <li class="nav-item"><a class="nav-link text-white mr-3" asp-page="/UserPages/Login">Login</a></li>
                         <li class="nav-item"><a class="nav-link text-white mr-3 " asp-page="/UserPages/Register">
                         Register
                         </a>
                         </li>
                        }
                       
                    </ul>

                </div>
        </nav>
        
    </header>