

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - RIIEdition</title>
    <script src="https://kit.fontawesome.com/d32c02cbb2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" />
  @RenderSection("css",required:false)
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    

    @RenderSection("Scripts", required: false)
</head>
@RenderBody()
</html>
