*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: #000000;
}
body span video
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
}
section
{
    position: relative;
    width: 100%;
    height: 100vh;
}
section .box{
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 200px);
    width: 400px;
    height: 400px;
    transform-style: preserve-3d;
    outline: 1px solid transparent;
  
    
}
section .box div{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transform: rotateX(-20deg) rotateY(25deg) translate3d(-75px,-50px,150px);
    outline: 1px solid transparent;
    
}
section .box span video 
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
}
section .box span
{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: 1px solid rgba(0, 0, 0, .1);
    background: #cccccc;
    outline: 1px solid transparent;
}
section .box span:nth-child(1){
    transform: translateZ(200px);

}
section .box span:nth-child(2){
    transform:rotateX(90deg) translateZ(200px);
    

}
section .box span:nth-child(3){
    transform:rotateY(-90deg) translateZ(200px);

}
@media only screen and (max-width:750px){
    section .box div{
        transform: rotateX(-20deg) rotateY(25deg) translate3d(-75px,-50px,150px) scale(.8) !important;
    }

}

@media only screen and (max-width:520px){
    section .box div{
        transform: rotateX(-10deg) rotateY(15deg) translate3d(-75px,-50px,150px) scale(.5) !important;
    }

}
a{
    cursor: pointer;
}
.zavrsi{
    position: absolute;
    left: 15px;
    top: 15px;

}