@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Dobro došli na našu divnu stranicu.</h1>
    <p>We are We. We Vam želi ugodan dan.</p>
</div>
