@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<body>
  <partial name="_HeaderPartial" />
    <div class="container">
        <main role="main" >
           <h1>@ViewData["Title"]</h1>


</div>
        </main>
    </div>
<partial name="_ScriptsPartial" />

</body>

